body{
    margin:30px auto;
    padding:0;
    width:830px;
    border:1px solid black;
}
nav{
    margin:0;
    padding:0;
    background-color: #f8aa03;
    
}
ul{
    margin:0;
    padding:0;
    
}
li{
    margin:0;
    padding:0;
    list-style-type: none;
    display: inline-block;
    
}
a{
    margin:0;
    padding:0 20px;
    text-decoration: none;
    line-height: 47px;
    color:white;
    /* font-weight: bold; */
    font-size:18px;
}
a:hover, a.active{
    text-decoration: underline;
}
article{
    float: left;
    width:600px;
    margin:10px 5px 10px 10px;
    text-align: justify;
}
aside{
    float: right;
    width:200px;
    margin:10px 5px 10px 10px;
    text-align: justify;
    font-size: 11px;
}
.clearfix{
    clear: both;
}
footer{
    background-color: #f8aa03;
    text-align: center;
    line-height: 70px;
}
td, th{
    border:1px solid black;
}

table{
    width:100%;
    text-align: center;
}
th{background-color: lightgray;}